.container {
    position: relative;

}
.wrapper {
    padding: 30px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 2;
    min-width: 340px;
    max-width: max-content;
    min-height: 10vh;
    background: #262626;
    border-radius: 16px;
}

.todoListClose {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}

.todoListTitleContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    /* margin-bottom: 15px; */
}

.tasksContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    min-width: 200px;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 400px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
}

.taskWrapper {
    min-width: 88.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100px;
    padding: 10px;
    color: #fff;
}

.checkboxContainer {
    align-self: center;
}

.low {
    background-color: #42a5f5;
}

.middle {
    background-color: indigo;
}

.high {
    background-color: #ef5350;
}

.isDone {
    background-color: #66bb6a;
}



.titleText {
    font-size: 22px;
}

.priorityTextContainer {
    display: flex;
    gap: 5px;
    width: max-content;
    padding: 2px 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
}

.priorityTextContainer:hover {
    transform: translateY(-3px);
    transition: all linear .3s;
}

.priorityTextContainer:active {
    transform: translateY(3px);
    transition: all linear .3s;
}

.priorityText {
    align-self: center;
}

.wrapperPriority {
    display: flex;
    gap: 5px;
}

.clearContainer {
    position: absolute;
    top: 1%;
    right: 1%;
}

.filterContainer {
    display: flex;
    gap: 10px;
}

.filterContainer span {
    color: #fff;
}