* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 15px;
  background-color: #000;
  min-height: 100vh;
}

.todoListContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 30px;
}